.conteiner{
    background-color: rgb(59, 59, 59);
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;

}    

img{
    width: 300px;
    height: 400px;
   
    
}
img:hover {
    background-color: rgb(78, 78, 78);

    -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
  }
.card{
    
    padding: 10px;

}
.titulo{
    font-size:32px ;
    font-weight:300 ;
    color: white;
    
}
.subtitulo{
    font-size:20px ;
    color: rgb(77, 0, 0);
}